         /* Spe Generales */
*{
    box-sizing: border-box;
}         

:root {
    --bleu: #0065FC;
    --bleuclair: #DEEBFF;
    --gris: #F2F2F2;
}

body {
    font-family: Raleway;
    margin: 0;
    padding: 0px 30px;
    font-size: 20px;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 100%;
}

           /* Header et Nav */


header{
    display: flex;
    justify-content: space-between;
}
header img{
    width: 50%;
}
header nav ul{
    display: flex;
    list-style-type: none;
    margin: 0;                      /* permets de ne pas avoir de marge autour des elements nav */
}
header nav ul li {
    padding: 40px 40px;
    border-top: 2px solid transparent;
    
}
header nav ul li:hover {
    border-color: var(--bleu);

}

header nav ul li a {
    color: black;
    text-decoration: none;
}

header nav ul li:hover a {
    color: var(--bleu);
}

            /* Sous titre + Formulaire Recherche */
h1{
    margin-bottom: 1%;
    font-size: 28px;
}
.soustitre{
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
}
 
.flex-form{
    display: flex; 
    border-radius:15px;
    width:100%;
    position: relative;
    top: 15px;
}

.flex-form .fas{
    padding: 15px;
    font-size: 15px;
    background-color: var(--gris);
    border-radius: 15px 0px 0px 15px;
}

.flex-form input[type=submit]{
    border: none;
    background-color: var(--bleu);
    color: white;
    font-weight:bolder;
}
.flex-form input[type=text]{
    border:none;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 105%;
    border-top: 1px solid var(--gris);
    border-bottom: 1px solid var(--gris);

}
::placeholder{
    color: black;
}
.flex-form button{
    background-color: var(--bleu);   
    border: none;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
.flex-form button .fas{
    display: none;
}

        /* Filtres */
#filters{
    display: flex;
    align-items: center;
    padding-left: 4px;

}
#filters li{
    display: flex;
    list-style-type: none;
    border: 3px solid var(--gris);
    border-radius: 50px;
    margin: 1%;
}
#filters .categorie {
    border-left: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 1s;
    margin: 10px;

    
}
#filters .icone{
    background-color: var(--bleuclair);
    height: 50px;
    width: 50px;
    border-radius: 40%;
    color: var(--bleu);
    display: flex;
    align-items: center;
    justify-content: center;
}
#filters h2{
    border: none;   
}

#filters  :hover{
    background-color: var(--bleuclair);
    transition: background-color 1s;
      -webkit-transform: scale(1.1);
     -ms-transform: scale(1.1);
      transform: scale(1.1);
}

        /* Information */
.information{
    display: flex;
}
.information .fas{
    color: var(--bleu);
    border: 2px solid var(--gris);
    border-radius: 100%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
        /* Hebergements */
        


#hebergement{                           /* div qui englobe les deux sections */
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
#hebergement section h2 {
    margin-top: 0px;
}

#hebergement section .conteneur {       /* definition des proprietes des deux sections */
    background-color: var(--gris);
    padding: 20px 20px 10px 20px;
    border-radius: 20px;
    box-sizing: content-box;
    border-bottom-style: groove;

}
.card__hotel__list {                    /* div des hotels dans la div globale hebergment */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 15px;
}

.card__hotel__list a {
    width: 30%;
    margin-bottom: 50px;
}

.card__hotel__list a article {
    background-color: white;
    padding: 4px;
    border-radius: 25px;
    
}
.card__hotel__list a article:hover {
    box-shadow: 5px 5px 5px 0px #E2E2E2;
}

.card__hotel__list a article .fa-star.bleu {
    color: var(--bleu);
}

.card__hotel__list a article .fa-star.gris {
    color: var(--gris);
}

.card__hotel__list a article img {
    width: 200px;
    height: 130px;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}
.article-body{
    display: flex;
    flex-direction: column;
    padding: 0px 6px;
    box-sizing: content-box;
    font-size: 12px;
}


.card__hotel__list a {
    color: black;
    text-decoration: none;
}



.card__hotel__list a article .article-body h3,
.card__hotel__list a article .article-body p {
    margin: 3px;
    font-size: 16px;
}


#hebergement .H-M {
    width: 60%;
}


.soustitre{
    margin-bottom:auto; 
    font-size: 18px;
}  


    /* colonne les plus populaires */

    #hebergement .populaire .chart-icone {
        position: absolute;
        top: 20px;
        right: 20px;
    }
    
    #hebergement .populaire {
        width: 35%;
        position: relative;
    }
    
    #hebergement .populaire .card__hotel__list {  /* direction du flex des card les plus populaires */
        flex-direction: column;
    }
    
    #hebergement .populaire .card__hotel__list a {
        width: 100%;
    }
    
    #hebergement .populaire .card__hotel__list a article {
        display: flex;
        flex-direction: row;
    }
    
    #hebergement .populaire .card__hotel__list a article img {
        border-radius: 25px 0px 0px 25px;
        width: 40%;
        height: 120px;
    }
    
    #hebergement .populaire .card__hotel__list a article .article-body {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    
    #herbergement section .populaire{
        width: fit-content;
    }

    
    

        /* activites */

 #activite {
    margin-bottom: 60px;
    ;
}

.activite-list {
    display: flex;
    justify-content: space-between;
    height: 600px;
}

.activite-list .column {
    width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
}

.activite-list .column article img {
    width: 100%;
    height: calc(90% - 30px);
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}

.activite-list .column article {
    height: 100%;
    box-shadow: 0px 0px 10px 0px #E0E0E0;
    border-radius: 25px;
}

.activite-list .column article h3 {
    padding: 0px;
    margin: 0px;
}

.activite-list .column.double article {
    height: 45%;
}

    /* footer */

 footer{
     background-color: var(--gris);
     display: flex;
     margin: 0px -50px;
     padding: 50px;
 }
 footer .liste {
    width: 40%;
}

footer .liste ul {
    padding: 0px;
    list-style-type: none;
    margin-left: 110px;
}

footer .liste ul li a {
    color: black;
    text-decoration: none;
    list-style-type: none;
}   


